<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Habit Tracker</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link  href="style.css" rel="stylesheet">
  </head>
  <body>
	<header>
		<div class="brand">Aadatein</div>
		<nav class="navbar">
			<ul>
				<li><a href="#home"><i class="fas fa-home"></i><span class="tooltip">Home</span></a></li>
				<li><a href="#habits"><i class="fas fa-check-circle"></i><span class="tooltip">Habits</span></a></li>
				<li><a href="#analytics"><i class="fas fa-chart-line"></i><span class="tooltip">Analytics</span></a></li>
				<li><a href="#profile"><i class="fas fa-user"></i><span class="tooltip">Profile</span></a></li>
			</ul>
		</nav>
	</header>
	<!-- Hero section -->
	<section class="hero">
		<h2>Transform your Habits Today!</h2>
		<p>Join Aadatein and start building a better version of yourself, one habit at a time!!</p>
		<button th:text="'Get Started'"></button>

	</section>
	<main>
		<section class="features">
			<h2>Core Features</h2>
			<li>Set Reminders and Notifications</li>
			<li>Visualize Your Progress</li>
			<li>Personalized Goal Setting</li>
			<li>Community Support and Challenges</li>			
		</section>
		<section class="about">
			<h2>About Us</h2>
			<p>Our Habit Tracker App is designed to help you build good habits and break bad ones, enabling you to live a healthier and more productive life.</p>
		</section>
	</main>
	<footer>
		<p>&copy; 2024 Habit Tracker. All rights reserved.</p>
	</footer>
  </body>
</html>
